@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    height: 100%;
}
.logo i{
    display: flex;
    margin-left: 30px;
    margin-top: -18px;
    color:#315959;  
}
.navbar{
    display: flex;
    background-color:white;
    justify-content:flex-end;
    width: 100%;
}
.navbar a{
    display: flex;
    color:#315959;
    text-decoration: none;
    padding: 4px 5px;
    align-items: center;
}
.contenedor{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0px;
}
.hero{
    flex-direction: column;

}
.persona{
    width: 200px;
    height: 250px;
    border: 1px solid white;
    margin-left:30px ;
}
.nombre{
    margin-left: 230px;
    margin-top: -170px;
    font-size: 35px;
}
.developer{
    margin-top: 60px;
    font-size: 20px;
    height: 25px;
    background-color:#315959;
    text-align: end;
}
.skill{
height: 20px;
width: 20px;
}
.contenedorAbout{
    display: flex;
    background-color:#D9D9D9;
    width: 100%;
    text-align: center;
    flex-direction: column;
    padding: 20px 0px;
    }

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
   
}
.card1, .card2, .card3{
    width: 25%;
    font-family:'Times New Roman', Times, serif; font-weight: 300px;
    text-align:center;
    justify-content: space-between;
}
.aboutMe{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif; font-weight:bold;
    color: #A64E77;
}
.linea{
    width: 70px;
    background-color: white;
    color: white;
    height: 3px;
    margin-left: 47.5%;
    
}
.habilidades{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0px;
}
.persona1{
    width: 200px;
    height: 250px;
    border: 1px solid white;
    margin-left: 60%;
    margin-top:50px ;
}
.tituloHab{
    padding: 30px 0px;
    margin-top: -220px; 
    text-align: start;
    margin-left: 16%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.hab{
    background-color: #315959;
    width: 62%;
    padding: 10px 0px;
    text-align:start;
    margin-top: -25px; 
    margin-left: 15%;
}
.habDescripcion{
    padding: 15px 0px;
    text-align: start;
    margin-left: 16%;
    width: 42%;
    height: 25%;
}
.portfolio{
    display: flex;
    background-color:#D9D9D9;
    width: 100%;
    text-align: center;
    flex-direction: column;
    padding: 20px 0px;
}
.portfolio, h2,h4{
    color:#315959;
}
.card{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 30px 0px;
}
.port{
    height: 170px;
    width: 200px;
}
.footer{
    width: 100%;
display: flex;
background-color:#315959;
flex-direction: column;
align-items: center;
padding: 20px 0px;

}
.contactanos{
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: capitalize;
}
.bi{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.contacto{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}
.email{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}
.link{
    padding: 5px 1px;
}